.container{
	width: 100%;
	margin: 0 auto;
	max-width: 780px;
	min-width: 320px;
}
/*.header star*/
.header{
	height: 50px;
	background-color: #e00000;
	overflow: hidden;
	position: relative;
}
.header>span{
	width: 85%;
	text-align: center;
	border-left: 1px solid #d10101;
	border-right: 1px solid #d10101;
	margin-left: 7%;
}
.header>span>img{
	width: 50%;
	margin: 0 auto;
	padding-top: 1%;
}
.header>i{
	position: absolute;
	top: 0;
	right: 0;
}
/*header end*/
/*nav star*/
.kp_nav{
	width: 98%;
    border-bottom: 1px solid #d8d8d8;
    background: #fff;
    padding: 10px;
}
.kp_nav ul{
	display: flex;
}
.kp_nav ul li{
	width: 33.3%;
	flex: 1;
	text-align: center;
    font-weight: bold;
    border-right: 1px solid #d1d1d1;
}
.kp_nav ul li a{
	font-size: 1.5em;
   
    height: 40px;
    line-height: 40px;
}
.kp_nav ul li:nth-child(1) a{
	color: #c00e5c;
}
.kp_nav ul li:nth-child(3){
	 border-right: none;
}
/*nav end*/
/*big pics star*/
.kp_banner{
	width: 90%;
	margin: 0 auto;
}
.kp_banner_text{
	width: 100%;
    margin: 10px auto;
    overflow: hidden;
}
.kp_banner_text dl{
	float: left;
}
.kp_banner_text dl:nth-child(1){
	width: 40%;
}
.kp_banner_text dl:nth-child(1) dd{
	font-size: 1.8em;
    line-height: 1.5em;
    color: #191515;
    font-weight: bold;
}
.kp_banner_text dl dd{
	font-size: 1.2em;
    line-height: 2.0em;
    color: #191515;
    font-weight: bold;
}
.kp_banner_text dl:nth-child(3){
	border-right: 1px solid #d5d5d5;
    padding-right: 10px;
    float: right;
    overflow: hidden;
 }
.kp_banner_text dl:nth-child(2){
    border-left: 1px solid #d5d5d5;
    margin-left: 3%;
    padding-left: 3%;
}
/*big pics end*/
/*arrow star*/
.arrow{
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #ebebeb;
}
.arrow ul{
	width: 90%;
	display: flex;
	justify-content:space-between	
}
.arrow ul li{
	margin: 0 auto;
}
.arrow ul li:nth-child(1) a img{
	padding-top: 20px;
	width: 50%;
}
.arrow ul li:nth-child(2){
	padding-top: 20px;
	width: 60%;
}
.arrow ul li:nth-child(3) a img{
	padding-top: 20px;
	width: 50%;
}
/*arrow end*/

/*footer star*/
.foot{
	width: 90%;
	margin: 0 auto;
	/*background: palegreen;*/
	margin:50px auto;
	border-bottom: 1px solid #BFBFBF;
}
.foot_welcom{
	color: #525252;
    font-size: 1.5em;
}
.foot_welcom span{
	display: inline-block;
	color: #df0606;
}
.foot p:nth-child(2){
	width: 100%;
    font-size: 1.6em;
    line-height: 30px;
	padding: 20px 0 20px 0;
}
.foot p:nth-child(4){
	font-size: 1.5em;
}
.foot p:nth-child(4) b{
	display: inline-block;
	font-weight: bold;
	margin:40px 0 20px 0;
}
/*footer end*/
/*slidemenu*/	
.slidemenu{
	width: 40px;
    position: fixed;
    right: 0;
    bottom: 55px;
    z-index: 2000;
    overflow: hidden;
}
.slidemenu>p{
	width: 40px;
    height: 27px;
}
.slidemenu>span{
	display: block;
	width: 40px;
    height: 27px;
    background: #ffde00;
    padding: 10px 0 0 0;
}
.slidemenu>span>img{
	height: 16px;
    margin: 0 auto;
}
/*@media screen and (min-width: 980px)
	.slidemenu{
	   display: none;
	}*/
@media screen and (max-width: 980px)
	.slidemenu{
	    bottom: 100px;
	    /*display: block;*/
	}
/*slidemenu end*/